### https://raw.github.com/github/gitignore/21780d9b5bf4c5847531c9d8d27db0b9159e36d2/Scala.gitignore

*.class
*.log


### https://raw.github.com/github/gitignore/21780d9b5bf4c5847531c9d8d27db0b9159e36d2/Global/SBT.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


